#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is read by the standalone daemon and embedded servers
[server]
# this is only for the mysqld standalone daemon
[mysqld]
#skip-networking
#bind-address = 0.0.0.0
datadir=/var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid_file = /var/run/mysqld/mysqld.pid
user = root
tmpdir = /tmp
port = 3306
query_cache_size = 16M

# Galera-related settings
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.5]



#generated: (ficou faltando datadir!)
#/etc/my.cnf.d # mariadb-install-db --defaults-file=/etc/my.cnf
#Installing MariaDB/MySQL system tables in './data' ...
#OK
#
#To start mariadbd at boot time you have to copy
#support-files/mariadb.service to the right place for your system
#
#
#Two all-privilege accounts were created.
#One is root@localhost, it has no password, but you need to
#be system 'root' user to connect. Use, for example, sudo mysql
#The second is mysql@localhost, it has no password either, but
#you need to be the system 'mysql' user to connect.
#After connecting you can set the password, if you would need to be
#able to connect as any of these users with a password and without sudo
#
#See the MariaDB Knowledgebase at https://mariadb.com/kb
#
#You can start the MariaDB daemon with:
#cd '/usr' ; /usr/bin/mariadb-safe --datadir='./data'
#
#You can test the MariaDB daemon with mysql-test-run.pl
#cd '/usr/mysql-test' ; perl mariadb-test-run.pl
#
#Please report any problems at https://mariadb.org/jira
#
#The latest information about MariaDB is available at https://mariadb.org/.
#
#Consider joining MariaDB's strong and vibrant community:
#https://mariadb.org/get-involved/